<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="quiz" connectionString="Data Source=DESKTOP-4ID74CD\SQLEXPRESS;Initial Catalog=quizApp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CSharp_QuizApp.Properties.Settings.quizAppConnectionString"
      connectionString="Data Source=DESKTOP-4ID74CD\SQLEXPRESS;Initial Catalog=quizApp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>